{% extends "base.html" %}
{% block title %}fecha_actual{% endblock %}
{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
                <div class="post">
                    <div class="date">
                        {% for Post in Posts %}
                            <div>
                                <p> publicado: {{ Post.fecha_creacion }}</p>
                                <h1><a href = "" >{{ Post.titulo }} </a></h1>
                                <p>{{ Post.comentario|linebreaksbr }} </p>
                            </div>{% endfor %}
                    </div>
                </div>
         </div>
    </div>
</div>
{% endblock %}
